<%= form_with(model: search) do |form| %>
  <% if search.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
        <% search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div><!-- debe poder ingresar varios números a la vez -->
    <%= form.label :rut, style: "display: block" %>
    <%= form.text_area :rut, placeholder: "11111111" %>
  </div>

  <div><!-- este btn debe ejecutar la búsqueda, y almacenarlo -->
    <%= form.submit %>
  </div>
<% end %>
